.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  .title {
    display: flex;
    align-items: center;

    .title_text {
      margin-left: 10px;
    }
  }

  .right_items {
    display: flex;
    align-items: center;

    .edit_button,
    .delete_button {
      border: none;
      border-radius: 5px;
      background-color: #f1f3f7;
      cursor: pointer;

      .icon {
        width: 20px;
        color: #282828;
      }
    }

    .edit_button {
      margin-right: 8px;
    }
  }
}
